<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<!-- If you delete this meta tag World War Z will become a reality -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/normalize.css">
	<link rel="stylesheet" href="css/foundation.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.2/angular.min.js"></script>
</head>
<body fullbleed ng-app="amse">
	<header>
		<nav class="top-bar" data-topbar role="navigation">
			<ul class="title-area">
				<li class="name">
					<h1><a href="#">Adventurer Manager Savegame Editor</a></h1>
				</li>
			</ul>
		</nav>
		<div ng-controller="loaderController">
			<p>Load a savegame</p>
			<button ng-click="load(1)">Slot 1</button>
			<button ng-click="load(2)">Slot 2</button>
			<button ng-click="load(3)">Slot 3</button>
		</div>
	</header>
	<div id="main">
		<p>Select a savegame.</p>
	</div>
	<script src="js/app.js"></script>
</body>
</html>
